###########################################################
###################### General Setup ######################
###########################################################

############## PROJECT CONST ##############
APPLICATION_NAME=

#ENDPOINT
SCHEMA=
HOST=
SERVER_PORT=

# PROFILE
TEST=TEST
DEV=DEV
PROD=PROD
PROFILE="${TEST}"

#URL
BASE_URL="${SCHEMA}://${HOST}"
MS_NAME="${APPLICATION_NAME}"
API_VERSION=v1
BE_URL="${BASE_URL}:${SERVER_PORT}/${MS_NAME}/${API_VERSION}"

############## Services ##############
POSTGRES=pg
POSTGRES_SERVICE_NAME="${POSTGRES}-${PROFILE}"

KEYCLOAK=kc
KEYCLOAK_SERVICE_NAME="${KEYCLOAK}-${PROFILE}"
REALM=

############## Postgres ##############
POSTGRES_EXTERNAL_PORT=
PG_HOSTNAME=

############## Nome container ##############
PG_CONTAINER="${APPLICATION_NAME}-${POSTGRES_SERVICE_NAME}"
KC_CONTAINER="${APPLICATION_NAME}-${KEYCLOAK_SERVICE_NAME}"

############## Nome database ##############
POSTGRES_DB_NAME=

############## Configurazione TEST ##############
POSTGRES_DB_NAME_TEST=
POSTGRES_TEST_PORT=
POSTGRES_USER_TEST=
POSTGRES_PASSWORD_TEST=

############## Configurazione DEV ##############
DEV_USER=
DEV_PASSWORD=

############## Configurazione PROD ##############
PROD_USER=
PROD_PASSWORD=

############## Configurazione da usare ##############
POSTGRES_USER=
POSTGRES_PASSWORD=
KEYCLOAK_URL=
KEYCLOAK_REALM_NAME=
KEYCLOAK_CLIENT_NAME=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

############## CONTAINER LOCATION ##############
DB_POSTGRES_CONTAINER_LOCATION=
DB_PG_LOCAL_LOCATION=
DB_PG_LOCATION="${DB_PG_LOCAL_LOCATION}/${MS_NAME}"
############## FILE NAME ##############
ADMIN_SERVICE_DDL_NAME=

############## CI/CD ##############
COMPOSE_FILE=
NGROK_CONFIG=
APPLICATION_ISSUER_NGROK=
NGROK_AUTHTOKEN=
START_SCRIPT=
ADMIN_SERVICE_JAR=

ADMIN_GROUP_ID=
OPERATOR_GROUP_ID=
SUPER_ADMIN_GROUP_ID=

SONAR_USERNAME=
SONAR_PSW=
SONAR_PROJECT_TOKEN=
SONAR_USER_TOKEN=