###########################################################
###################### General Setup ######################
###########################################################

############## PROJECT CONST ##############
APPLICATION_NAME=

#ENDPOINT
SCHEMA=
HOST=
SERVER_PORT=

# PROFILE
TEST=TEST
DEV=DEV
PROD=PROD
PROFILE="${TEST}"

#URL
BASE_URL="${SCHEMA}://${HOST}"
MS_NAME="${APPLICATION_NAME}"

# --- POSTGRES ---
DB_USER=
DB_PASSWORD=
DB_NAME=
PG_PORT=
