###########################################################
###################### General Setup ######################
###########################################################

############## PROJECT CONST ##############
APPLICATION_NAME=

#ENDPOINT
SCHEMA=
HOST=
SERVER_PORT=

# PROFILE
TEST=TEST
DEV=DEV
PROD=PROD
PROFILE="${TEST}"

#URL
BASE_URL="${SCHEMA}://${HOST}"
MS_NAME="${APPLICATION_NAME}"
API_VERSION=v1
BE_URL="${BASE_URL}:${SERVER_PORT}/${MS_NAME}/${API_VERSION}"

# --- POSTGRES ---
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_INIT_FOLDER=
DB_PORT=
DB_EXTERNAL_PORT=
